/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px; /*padding can't get inheritence.*/
}

.header {
    height: 95vh; 
    background-image: linear-gradient(to right bottom,
     rgba(126, 213, 111, 0.8),
     rgba(40, 180, 131, 0.8)),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px; /* width가 알아서 height에 맞춰서 변함 */
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /*for moving inline-block button*/
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /* fix shaking*/
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
            opacity: 0;
            transform: translateX(-100PX);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0); /* looks exactly right now */
    }
}

@keyframes moveInRight {
    0% {
            opacity: 0;
            transform: translateX(100PX);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0); /* looks exactly right now */
    }
}

@keyframes moveInBottom {
    0% {
            opacity: 0;
            transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0); /* looks exactly right now */
    }
}

.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative
}

/* box-shadow: <수평 거리> <수직 거리> <흐림 정도> <번짐 정도> <색상> 
   <흐림 정도>는 값이 커질수록 부드러운 그림자를 표시함*/
.btn:hover {
    transform: translateY(-3px); /*related to the initial link & visited state*/
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /* (!important) related to the initial state which is link & visited part not hover part*/
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}
/* (!).btn의 child로 새로 삽입됨 */
.btn::after {
    content: ""; /* ::after 뒤에는 content가 무조건 들어가야함 */
    display: inline-block;
    height: 100%; /*::after은 btn의 child로 삽입되므로 가능 */
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /*animation이 시작하기 전에 처음 0%부터 시작할 수 있도록 한다*/
}